<div >
    <a href="https://github.com/MansurLui" target="_blank"><img src="../../../assets/githublogo.png" id="githubLogo" /></a>
    <a href="mailto:agustinmansur@gmail.com" target="_blank"><img src="../../../assets/gmaillogo.png" id="gmailLogo" /></a>
    <a href="https://www.linkedin.com/in/agustin-mansur-8117b323b/" target="_blank"><img src="../../../assets/linkedinlogo.png" id="linkedinLogo" /></a>
    <a href="https://t.me/MansurLui" target="_blank"><img src="../../../assets/telegramlogo.png" id="telegramLogo" /></a>
</div>
