.row{
    padding:10px;
}

div{
    background-color: black;
    text-align: center;
    color:white;
}

#nombre{
    font-weight: bold;
    margin-top: 15.9%;
}
#acecademi{
    margin-top: 4%;
}

/* estilos de la foto de perfil */
@media (min-width: 922px){
    #fotoPerfil{
            position: absolute;
            width: 20%;
            border-radius:46%;
            left: 40%;
            top:100px;
    }
}
@media (max-width: 921px){
    #fotoPerfil{
            position: absolute;
            width: 20%;
            border-radius:46%;
            left: 40%;
            top:188px;
    }
}
@media (max-width: 575px){
    #fotoPerfil{
            position: absolute;
            width: 35%;
            border-radius:46%;
            left:35%;
            top:190px;
    }
}
@media (max-width: 266px){
    #fotoPerfil{
            position: absolute;
            width: 50%;
            border-radius:46%;
            left:26%;
            top:205px;
    }
}