.row{
    padding:20px;
}

div{
    /*background-color: black;*/
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 25%;
}
#acecademi{
    margin-top: 5%;
}

/* estilos de la foto de perfil */
@media (max-width: 900px){
    #fotoPerfil{
            position: absolute;
            width: 15%;
            border-radius:46%;
            left: 40%;
            top:150px;
    }
}
@media (min-width: 576px){
    #fotoPerfil{
            position: absolute;
            width: 20%;
            border-radius:46%;
            left: 40%;
            top:188px;
    }
}
@media (max-width: 575px){
    #fotoPerfil{
            position: absolute;
            width: 45%;
            border-radius:46%;
            left:26%;
            top:190px;
    }
}
@media (max-width: 266px){
    #fotoPerfil{
            position: absolute;
            width: 50%;
            border-radius:46%;
            left:26%;
            top:205px;
    }
}