<div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Iniciar Sesion</h3>
    <form action="login.php" method="post">
        <div class="inputBox"> <input id="uname" type="text" name="Username" placeholder="Usuario"> <input id="pass" type="password" name="Password" placeholder="Contraseña"> </div> <input type="submit" name="" value="Ingresar">
    </form> 
    <a href="#">Recuperar Contraseña<br> </a><br>
    <div class="text-center">
        <h2><p style="color: #59238F;">Registrarse</p></h2>
    </div>
    <a href="#"><h4><p style="color: white;">volver</p></h4></a>
</div>