<div class="row">  
    <h1>Experiencia laboral / Estudios</h1>
    <div class="col-lg-11">
        <ul>
            <li><h2>trabajo 1</h2>-<h3>años</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero veritatis nihil quod illum neque explicabo earum unde est. Repellendus odio quam ipsa perferendis repudiandae ipsam id temporibus maiores cumque reprehenderit!</p>
        </ul>
        <ul>
            <li><h2>trabajo 2</h2>-<h3>años</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero veritatis nihil quod illum neque explicabo earum unde est. Repellendus odio quam ipsa perferendis repudiandae ipsam id temporibus maiores cumque reprehenderit!</p>
        </ul>
    </div>
</div>